In [80]:
from iexfinance.stocks import Stock
from iexfinance.stocks import get_historical_data
from datetime import datetime
import urllib
import sqlalchemy
import pandas as pd
from tqdm import tqdm_notebook as tqdm

In [81]:
params = urllib.parse.quote("DRIVER={ODBC Driver 13 for SQL Server};SERVER=localhost;DATABASE=StocksDMW2;Trusted_Connection=yes")
engine1 = sqlalchemy.create_engine('mssql+pyodbc:///?odbc_connect=%s' % params)

In [82]:
params = urllib.parse.quote("DRIVER={ODBC Driver 13 for SQL Server};SERVER=localhost;DATABASE=StocksDMW;Trusted_Connection=yes")
engine2 = sqlalchemy.create_engine('mssql+pyodbc:///?odbc_connect=%s' % params)

In [70]:
symbols = """
select distinct(name) from stockdatadaily order by name
"""
symbol_list = pd.read_sql(symbols, engine1)['name'].tolist()

In [ ]:
pbar = tqdm(total = len(symbol_list))

for i in symbol_list:
    print(i)
    symbol_data = """
    select * from stockdatadaily where name = '%s'
    """ % i
    data = pd.read_sql(symbol_data, engine1)
    data.reset_index()
    
    dataFrame = pd.DataFrame()
    dataFrame['date'] = data['date']
    dataFrame['1. open'] = data['open']
    dataFrame['2. high'] = data['high']
    dataFrame['3. low'] = data['low']
    dataFrame['4. close'] = data['close']
    dataFrame['5. volume'] = data['volume']
    dataFrame['Name'] =  data['Name']
    
    symbol_data_2 = """
    select * from stockdatadaily where name = '%s'
    """ % i
    data2 = pd.read_sql(symbol_data, engine2)
    
    c = pd.concat([dataFrame, data2 , data2]).drop_duplicates(keep=False)
    
    
    c.to_sql('StockDataDaily', con=engine2, if_exists='replace', index=False)
    
    pbar.update(1)
pbar.close()

A Jupyter Widget

A
AA
AABA
AAC
AADR
AAL
AAMC
AAME
AAN
AAOI
AAON
AAP
AAPL
AAT
AAU
AAV
AAWW
AAXJ
AAXN
AB
ABAC
ABAX
ABB
ABBV
ABC
ABCB
ABCD
ABDC
ABEO
ABEV
ABG
ABIL
ABIO
ABLX
ABM
ABMD
ABR
ACHV
ACIA
ACIM
ACIU
ACIW
ACLS
ACM
ACMR
ACN
ACNB
ACOR
ACP
ACRE
ACRS
ACRX
ACSF
ACSI
ACST
ACT
ACTG
ACU
ACV
ACWF
ACWI
ACWV
ACWX
ACXM
ACY
ADAP
ADBE
ADC
ADES
ADI
ADM
ADMA
ADMP
ADMS
ADNT
ADOM
ADP
ADRA
ADRD
ADRE
ADRO
ADRU
ADS
ADSK
ADSW
ADT
ADTN
ADUS
ADVM
ADX
ADXS
ADZ
AE
AEB
AED
AEE
AEG
AEGN
AEH
AEHR
AEIS
AEK
AEL
AEM
AEMD
AEO

In [ ]:
symbol_list

In [ ]:
 data_to_enter= """
    select distinct(name) from stockdatadaily order by name
    """
names = pd.read_sql(sql1,engine)['name'].tolist(

In [66]:
symbol_data = """
    select * from stockdatadaily where name = '%s'
    """ % 'TSLA'
data = pd.read_sql(symbol_data,engine1)

In [44]:

dataFrame = pd.DataFrame()
dataFrame['date'] = data['date']
dataFrame['1. open'] = data['open']
dataFrame['2. high'] = data['high']
dataFrame['3. low'] = data['low']
dataFrame['4. close'] = data['close']
dataFrame['5. volume'] = data['volume']
dataFrame['Name'] =  data['Name']

In [67]:
data

            date      open      high      low    close      volume  Name
0     2010-07-21   20.6600   20.9000   19.500   20.220   1252500.0  TSLA
1     2010-07-22   20.5000   21.2500   20.370   21.000    957800.0  TSLA
2     2010-07-23   21.1900   21.5600   21.060   21.290    653600.0  TSLA
3     2010-07-26   21.5000   21.5000   20.300   20.950    922200.0  TSLA
4     2010-07-27   20.9100   21.1800   20.260   20.550    619700.0  TSLA
5     2010-07-28   20.5500   20.9000   20.510   20.720    467200.0  TSLA
6     2010-07-29   20.7700   20.8800   20.000   20.350    616000.0  TSLA
7     2010-07-30   20.2000   20.4400   19.550   19.940    426900.0  TSLA
8     2010-12-23   31.2600   32.4800   29.920   30.090   1552600.0  TSLA
9     2010-12-27   28.0200   28.5800   25.060   25.549   9301900.0  TSLA
10    2010-12-28   25.8500   26.7500   25.000   26.410   4056300.0  TSLA
11    2010-12-29   27.0300   28.0100   26.500   27.730   3319200.0  TSLA
12    2010-12-30   27.7000   27.9000   26.380   26.500   2041100.0  TSLA
13    2011-04-08   27.5800   27.6004   26.360   26.490   1946400.0  TSLA
14    2011-04-11   26.4700   26.5300   25.020   25.270   1369400.0  TSLA
15    2011-04-12   25.0800   25.2100   24.300   24.650   1357400.0  TSLA
16    2011-04-13   25.1300   25.6900   24.810   24.930   1211500.0  TSLA
17    2011-04-14   24.8700   25.2800   24.200   25.140    983400.0  TSLA
18    2011-04-15   25.6500   26.1800   25.410   25.580    943500.0  TSLA
19    2011-04-18   25.1300   25.6200   24.360   25.030   1033900.0  TSLA
20    2011-04-19   25.2600   25.2600   24.650   25.160    548700.0  TSLA
21    2011-10-07   26.9800   27.6000   26.050   26.990   1311600.0  TSLA
22    2011-10-10   27.3100   28.1800   27.000   27.880    923500.0  TSLA
23    2011-10-11   27.5100   27.7700   27.090   27.610    575700.0  TSLA
24    2011-10-12   27.2500   28.0000   27.200   27.800   1123400.0  TSLA
25    2011-12-21   27.9100   28.0700   26.030   27.570   1705500.0  TSLA
26    2011-12-22   27.6000   28.0500   27.300   27.770   1009400.0  TSLA
27    2011-12-23   28.0000   28.0000   27.520   27.900    591400.0  TSLA
28    2011-12-27   27.6600   28.7700   27.640   28.570    777500.0  TSLA
29    2012-04-20   33.1400   33.7299   32.940   33.160    821800.0  TSLA
...          ...       ...       ...      ...      ...         ...   ...
2169  2017-08-09  361.0000  370.0000  358.950  363.530   6847245.0  TSLA
2170  2017-10-02  342.5200  343.7000  335.510  341.530   4901453.0  TSLA
2171  2017-10-03  335.9000  348.5500  331.280  348.140   9981885.0  TSLA
2172  2017-10-04  351.2500  358.6200  349.600  355.010   8120353.0  TSLA
2173  2017-12-20  332.6900  333.1000  325.040  328.980   5937684.0  TSLA
2174  2017-12-21  329.5900  333.7400  327.210  331.660   4344701.0  TSLA
2175  2017-12-22  329.5100  330.9214  324.820  325.200   4186131.0  TSLA
2176  2017-12-26  323.8300  323.9400  316.580  317.290   4321909.0  TSLA
2177  2017-12-27  316.0000  317.6800  310.750  311.640   4645441.0  TSLA
2178  2018-04-09  300.3700  309.5000  289.210  289.660  10249805.0  TSLA
2179  2018-04-10  298.9700  307.1000  293.680  304.700  11024259.0  TSLA
2180  2018-04-11  300.7403  308.9800  299.660  300.930   7482945.0  TSLA
2181  2018-06-04  294.3400  299.0000  293.548  296.740   4797810.0  TSLA
2182  2018-06-05  297.7000  297.8000  286.740  291.130   5995157.0  TSLA
2183  2018-06-06  300.5000  322.1700  297.480  319.500  18767269.0  TSLA
2184  2018-08-10  354.0000  360.0000  346.000  355.490  11552044.0  TSLA
2185  2018-08-13  361.1300  363.1900  349.020  356.410  10463881.0  TSLA
2186  2018-08-14  358.4500  359.1995  347.100  347.640   6986427.0  TSLA
2187  2018-08-15  341.9059  344.4900  332.140  338.690   9101258.0  TSLA
2188  2018-11-08  348.5000  357.5755  348.440  351.400   7090674.0  TSLA
2189  2018-11-09  349.0000  354.0000  345.230  350.510   5098846.0  TSLA
2190  2018-11-12  348.3700  349.7800  330.340  331.280   6941523.0  TSLA
2191  2018-11-13  333.1600  344.7000  332.200  338.730   5448597.0  TSLA
2192  2018-11-14  342.7000  347.1100  337.150  344.000   5040287.0  TSLA
2193  2018-11-15  342.3300  348.5800  339.040  348.440   4625719.0  TSLA
2194  2019-03-19  267.5000  273.3000  263.460  267.470  11800630.0  TSLA
2195  2019-03-20  269.6900  274.9700  266.300  273.600   6908224.0  TSLA
2196  2019-03-21  272.6000  276.4500  268.450  274.020   5947098.0  TSLA
2197  2019-03-22  272.5800  272.8000  264.000  264.530   8745609.0  TSLA
2198  2019-03-25  259.7100  263.1800  254.460  260.420  10215029.0  TSLA

[2199 rows x 7 columns]